@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Inter:wght@300;400;500&display=swap');

:root{
    --c-gris-oscuro    :#16161A;
    --c-gris           : #27272E;
    --c-blanco         :#ffffff;
    --c-azul           :#0068bd;
    --tipo-principal   : 'Cinzel', serif;
    --tipo-secundaria  : 'Inter', sans-serif;
  }